html 					{ margin:0px; padding:0px; overflow-y:scroll; overflow:-moz-scrollbars-vertical; }
body					{ font:normal 16px 'Ubuntu Condensed'; color:#ccc; background-color:#333; margin:0px; padding:0px; background:url(../img/bg-gray-pattern.jpg) top center fixed; }

h1						{ font:normal 3em 'Special Elite'; color:#ff0; margin:2px 0 10px 0; text-shadow:2px 2px 2px #000; }

#tupperware				{ width:700px; margin:10px auto 0 auto; }

.form-row				{ margin-bottom:10px; }
.form-input				{ margin-top:2px; }
.form-input input, .form-input textarea, .form-input select
						{ border:solid 1px #ff0; border-radius:3px; background-color:#ddd; color:#000; font:normal .85em 'Ubuntu Condensed'; }
.form-input input:focus, .form-input textarea:focus, .form-input select:focus
						{ box-shadow:0 0 7px #fff; }
.form-row button		{ height:30px; background-color:#ff0; font:normal 1.2em 'Ubuntu Condensed'; border:solid 1px transparent; border-radius:6px; margin-right:5px; cursor:pointer; color:#333; }
.form-row button.last	{ margin-right:0px; }
.form-row button:hover	{ box-shadow:0 0 7px #fff;  }

.float-left					{ float:left; }
.w50						{ width:50%; }
.mb16						{ margin-bottom:16px; }
.cl 						{ clear:left; }
.cr 						{ clear:right; }
.cb 						{ clear:both; }

.styled-hr					{ border-top:solid 1px #222; border-bottom:solid 1px #444; margin-bottom:16px; }


/*****[ Funnies ]**************************************************************/
#funny						{ width:700px; min-width:700px; max-width:700px; height:20px; min-height:20px; max-height:20px; }
#sender						{ width:330px; }
#receiver					{ width:350px; }
#context					{ width:700px; min-width:700px; max-width:700px; height:35px; min-height:35px; max-height:35px; }
#add_funnies-sender, #add_funnies-receiver, #add_funnies-context, #add_funnies-buttons
							{ display:none; }

#wrapper-add_funnies							{ margin-bottom:30px; }
#wrapper-funnies_post							{ margin-bottom:30px; }
.tab											{ float:left; font:normal 1.2em 'Ubuntu Condensed'; border-top-left-radius:6px; border-top-right-radius:6px; border:solid 1px transparent; padding:0 8px; color:#ccc; cursor:pointer; }
	.tab a 										{ color:#ccc; text-decoration:none; }
.tab.active										{ background-color:#ff0; color:#333; }
	.tab.active a 								{ color:#333; text-decoration:none; }
#tab-recent-posts								{ display:none; }
.posts											{ clear:both; border:solid 1px #ff0; border-radius:6px; border-top-left-radius:0px; padding-top:30px; }
	.post										{ width:665px; max-width:655px; padding:5px; background:url(../img/bg-transparent-black.png); margin:0 auto 30px auto; overflow:auto; border:solid 1px transparent; border-radius:6px; }
		.post-header							{ position:relative; }
			.post-sender						{ float:left; color:#888; }
				.post-sender a 					{ text-decoration:none; color:#aaa; }
				.post-sender a:hover			{ color:#ccc; }
			.post-timestamp						{ float:right; font-size:.7em; color:#888; }
		.post-content							{ float:left; width:85%; }
			.post-context						{ margin-top:10px; }
				.post-context .label			{ color:#888; }
		.post-votes								{ float:left; width:15%; height:50px; }
			.post-votes a						{ text-decoration:none; color:#aaa; }
			.post-votes a:hover					{ color:#ccc; }
	.posts .pagination							{ margin-bottom:16px; }
		.posts .pagination a 					{ text-decoration:none; color:#aaa; }
		.posts .pagination a:hover 				{ color:#ccc; }

